.about {
    margin-top: 85px;
    @media($breakpoint_LG){
        margin-top: 60px;
    }

    .about-banner {
        background: rgba(110, 179, 86, .13);
        padding: 90px 0px;
        position: relative;
        z-index: 1;

        &::after {
            // position: absolute;
            // bottom: 0;
            // content: "";
            // background-image: url('../Images/bg-shape-6.png');
            // height: 100%;
            // width: 100%;
            // z-index: -1;
            // left: 0;
            // background-repeat: no-repeat;
            // background-size: cover;
        }

        h3 {
            text-align: center;
            font-weight: 700;
        }

        ul {
            display: flex;
            justify-content: center;
            list-style: none;
            gap: 10px;
            margin-left: -28px;

            li {
                color: grey;
                font-weight: 700;
                font-size: 18px;

                a {
                    text-decoration: none;
                    color: grey;
                    font-size: 18px;
                    transition: all 0.3s linear;

                    &:hover {
                        color: $green;
                    }
                }
            }
        }

        .small-images {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            z-index: -1;

            .image-sec {
                position: relative;
                height: 100%;
                width: 100%;
                top: 0;

                .frame {
                    position: absolute;
                    left: 62px;
                    top: 56px;
                    @media($breakpoint_SM){
                        left: 27px;
                        top: 39px;    
                    }

                }

                .onion {
                    position: absolute;
                    left: -10px;
                    @media($breakpoint_SM){
                        left: -39px;
                        top: -20px;
                    }
                }

                .leaf {
                    position: absolute;
                    left: 10px;
                    bottom: 21px;

                }

                .roll {
                    position: absolute;
                    left: 26%;
                    bottom: 21px;
                    @media($breakpoint_MD){
                        left    :111px;
                    }
                    @media($breakpoint_SM){
                        bottom: -16px;
                        transform: rotate(350deg);
                    }
                    @media($breakpoint_450){
                        display: none;
                    }
                }

                .cauliflower {
                    position: absolute;
                    right: 30%;
                    bottom: 51px;
                    @media($breakpoint_MD){
                        right:124px;
                    }
                    @media($breakpoint_SM){
                        right: 87px;
                    }
                   
                }

                .apple2 {
                    width: 100px;
                    position: absolute;
                    right: 48px;
                    @media($breakpoint_450){
                    right: 0;
                }
                        
                }
            }

        }
        .image-layer{
            position: absolute;
            bottom: -22px;
            img{
                width: 100%;
            }
        }
    }



    .second-about {
        padding: 50px 0px;
        background: #fafafa;
        .row {
            align-items: center;
          
            .left-second {
                position: relative;
                @media($breakpoint_LG){
                    text-align: center;
                }
                img {
                    width: 100%;
                    @media($breakpoint_LG){
                        width: 60%;
                    }
                    @media($breakpoint_SM){
                        width: 100%;
                    }
                }

                .assertively {
                    background: $green;
                    padding: 10px;
                    border-radius: 0px 0px 30px 0px;
                    width: 350px;
                    position: absolute;
                    bottom: -3px;
                    right: 2px;
                    box-shadow: 0px 0px 5px #c9c3c3;
                    border: 8px solid $white-text;
                    @media($breakpoint_LG){
                        width: 329px;
                        right: 45px;
                    }
                    @media($breakpoint_SM){
                        width: 316px;
                        right: 2px;
                    
                    }
                    @media($breakpoint_ESM){
                        position: static;
                        margin-top: 16px;
                        width: 100%;
                    }
                    p {
                        text-align: center;
                        color: $white-text;
                    }
                }
            }

            .right-about {
                @media($breakpoint_LG){
                    margin-top: 50px;
                }
                .Organic {
                    color: $grey;
                    font-size: 19px;
                    font-weight: 700 !important;
                    font-family: "Oleo Script", system-ui;
                    @media($breakpoint_LG){
                        text-align: center;
                    }

                }

                h2 {
                    font-size: 31px;
                    color: $black-text;
                    font-weight: 800;
                    @media($breakpoint_LG){
                        text-align: center;
                    }
                    @media($breakpoint_450){
                        font-size: 20px;
                    }
                    br{
                        @media($breakpoint_450){
                        display: none;
                        }    
                    }
                }

                .market {
                    color: $grey;
                    font-size: 18px;
                    @media($breakpoint_LG){
                        text-align: center;
                        padding: 0 30px;
                    }
                    @media($breakpoint_450){
                        padding: 0;
                    }
                }

                .row {
                    padding-top: 50px;

                    .inner-col {
                        border: 1px solid #dadada;
                        padding: 14px;
                        transition: all 0.3s linear;
                        box-shadow: 0px 0px 5px #dadada;
                        border-radius: 5px;
                        position: relative;
                        z-index: 1;
                        @media($breakpoint_MD){
                            margin-bottom: 10px;
                        }

                        &::after {
                            position: absolute;
                            content: '';
                            right: 0;
                            bottom: 0;
                            background-image: url('../Images/mango2.png');
                            height: 100%;
                            width: 100%;
                            z-index: -1;
                            background-repeat: no-repeat;
                            background-repeat: no-repeat;
                            background-position: bottom right;
                        }

                        &:hover {
                            background: $white-color;
                            box-shadow: 0px 0px 4px $grey;
                        }

                        h4 {
                            margin-top: 14px;
                            font-size: 20px;
                            font-weight: 400;
                            font-family: "Oleo Script", system-ui;
                        }

                        p {
                            color: $grey;

                        }
                    }
                }
            }
        }

    }

    .team-member {
        padding: 40px 0px 0 0 ;
        .banner-team {
            .team-title {
                text-align: center;
                font-size: 19px;
                font-weight: 700 !important;
                font-family: "Oleo Script", system-ui;
                color: $grey;
                margin-bottom: 5px;;

            }
            h3{
                text-align: center;
                font-weight: 700;
                font-size: 28px;
            }
            .encounter{
                text-align: center;
                color:$grey;
                font-size: 18px;
            }
        }

        .row{
            padding: 20px 0;
            .first-card-team{
                box-shadow: 0px 0px 5px #d0c9c9;
                border-radius: 10px;
                padding: 24px ;
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 14px;

                @media($breakpoint_SM){
                    justify-content: space-around;
                }
                .card-image{
                    padding: 10px 0px;
                    img{
                        width: 50%;
                        border-right: 8px solid $green;
                        border-radius: 50%;
                        padding: 0px;
                    }
                }
                .icons{
                  
                    background:$green;
                    border-radius: 10px;
                    padding: 13px;
                    display: flex;
                    gap: 10px;
                    height: 95%;
                    flex-direction: column;
                    justify-content: space-evenly;
                    svg{
                        color: $black-text;
                        cursor: pointer;
                        transition: all 0.3s linear;
                        background: $white-color;
                        padding: 4px;
                        border-radius: 28px;
                        font-size: 14px;
                        width: 26px;
                        height: 28px;
                        &:hover{
                            color: $white-text;
                            background: $black-color;
                        }
                        
                        
                    }
                }
                .name-person{
                    p{
                        color: $grey;
                        font-size: 16px;
                    }
                    h5{
                        font-size: 18px;
                        font-weight: 700;
                        color: $green;
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }


    .down-footer{
        position: relative;
        bottom: -54px;
        z-index: 9;
        .foo-sec{
            background-image: url('../Images/cta-banner.jpg');
            height: 233px;
            width: 100%;
            background-size: cover;
            border-radius: 10px;
            background-position: inherit;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .team-title{
                font-family: "Oleo Script", system-ui;
                font-size: 22px;
                color: $green;
                margin: 0;
            }
            h5{
                font-size: 28px;
                 font-weight: 700;   
                 margin: 11px 0px;
            }
            button{
                border: none;
                background: $green;
                font-size: 16px;
                padding: 10px 20px;
                border-radius: 5px;  
                transition: all 0.3s linear;
                &:hover{
                    color: $white-text;
                }              
            }
            
        }
    }

}